<div class="application__header header header--large">
    <div class="cookie-notification">
    Vi bruger cookies på dette websted for at sikre den bedst mulige service. <a href="#" class="cookie-notification__read-more">Læs mere</a>
    <button type="button" aria-hidden="true" class="cookie-notification__close">LUK</button>
    </div>

    <div class="util__container header__wrapper">

    <div class="header__logo-container">
        <a href="index.html" class="header__logo logo">
        <img src="images/logo.png" class="logo__image" alt="Hjemmeside for Danders & More" />
        </a>

        <button class="header__mobile-toggler" id="mobileNavigationToggler">
        <span></span>
        <span></span>
        <span></span>
        </button>
    </div>

    <div class="header__navigation-container">
        <div data-navigation class="header__navigation main-navigation">
        <div class="main-navigation__link-wrapper" data-navigation-target="#about-us">
            <a href="about-us.html" class="main-navigation__link main-navigation__link--contains-children"><span>Om os</span></a>
            <span class="main-navigation__link-toggler"></span>
            <div id="about-us" class="main-navigation__sub-navigation-container">
            <div class="main-navigation__sub-navigation">
                <div class="main-navigation__link-group">
                <a href="#" class="main-navigation__link main-navigation__link--header"><span>Transaktion</span></a>
                <a href="#" class="main-navigation__link"><span>M&A</span></a>
                <a href="transaktioner.html" class="main-navigation__link"><span>Finansielle transaktioner</span></a>
                </div>

                <div class="main-navigation__link-group">
                <a href="#" class="main-navigation__link main-navigation__link--header"><span>Fast ejendom og enterprise</span></a>
                <a href="#" class="main-navigation__link"><span>Selskabsret</span></a>
                <a href="#" class="main-navigation__link"><span>Kontrakter</span></a>
                <a href="#" class="main-navigation__link"><span>Ansættelsesret</span></a>
                </div>

                <div class="main-navigation__link-group">
                <a href="#" class="main-navigation__link main-navigation__link--header"><span>Corporate & commercial</span></a>
                <a href="#" class="main-navigation__link"><span>Fast ejendom</span></a>
                <a href="#" class="main-navigation__link"><span>Entreprise og udbud</span></a>
                </div>

                <div class="main-navigation__link-group">
                <a href="#" class="main-navigation__link main-navigation__link--header"><span>Tvister</span></a>
                <a href="#" class="main-navigation__link"><span>Retssagsbehandling</span></a>
                <a href="#" class="main-navigation__link"><span>Voldgift</span></a>
                </div>
            </div>
            </div>
        </div>

        <div class="main-navigation__link-wrapper" data-navigation-target="#counseling">
            <a href="counseling.html" class="main-navigation__link main-navigation__link--contains-children"><span>Vores rådgivning</span></a>
            <span class="main-navigation__link-toggler"></span>
            <div id="counseling" class="main-navigation__sub-navigation-container">
            <div class="main-navigation__sub-navigation">
                <div class="main-navigation__link-group">
                <a href="#" class="main-navigation__link main-navigation__link--header"><span>Transaktion</span></a>
                <a href="#" class="main-navigation__link"><span>M&A</span></a>
                <a href="transaktioner-counseling.html" class="main-navigation__link"><span>Finansielle transaktioner</span></a>
                </div>
            </div>
            </div>
        </div>
        <div class="main-navigation__link-wrapper">
            <a href="internationalt.html" class="main-navigation__link main-navigation__link--contains-children"><span>Internationalt</span></a>
        </div>
        <div class="main-navigation__link-wrapper">
            <a href="karriere.html" class="main-navigation__link main-navigation__link--contains-children"><span>Karriere</span></a>
        </div>
        <div class="main-navigation__link-wrapper">
            <a href="personer.html" class="main-navigation__link main-navigation__link--contains-children"><span>Personer</span></a>
        </div>
        <div class="navigation-contact">
            <div class="main-navigation__link-wrapper">
            <a href="kontakt.html" class="main-navigation__link navigation-contact__contact-link"><span>Kontakt</span></a>
            </div>
            <div class="main-navigation__link-wrapper">
            <div class="navigation-contact__language-selector">
                <a href="#change-language" class="main-navigation__link navigation-contact__language-link"><span>DA</span></a>

                <ul class="navigation-contact__languages">
                <li><a href="#" class="navigation-contact__languages-link navigation-contact__languages-link--active">DA</a></li>
                <li><a href="#" class="navigation-contact__languages-link">EN</a></li>
                <li><a href="#" class="navigation-contact__languages-link">SV</a></li>
                <li><a href="#" class="navigation-contact__languages-link">DE</a></li>
                </ul>
            </div>
            </div>
        </div>
        </div>
    </div>

    </div>

</div>