@import "./configuration.scss";

.footer {
  &__actions {
    &-legal-navigation {
      padding: $gutter-width 0;
    }

    &-social {
      padding: 0 0 $gutter-width 0;
    }
  }

  @media (min-width: $screen-md-min) {
    @include clearfix();
    padding: $gutter-width*2 0;

    &__actions {
      padding-left: 2.5em;
      border-left: .2em solid #5b5956;
      float: left;
      padding-top: 10px;

      &-legal-navigation {
        padding: 0 0 2.5em;
      }

      &-social {
        padding: $gutter-width 0 0;
      }
    }

    &__addresses {
      float: left;
      width: 80%;
    }
  }
}
