@import "./configuration.scss";

.navigation-contact {

  @media (min-width: $screen-md-min) {
    float: right;
    display: flex;
    align-items: flex-start;
  }

  &__contact-link {
    padding-right: 0;
  }

  &__languages {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;

    @media (min-width: $screen-md-min) {
      position: absolute;
      margin-top:15px;
      flex-direction: column;
      text-align: right;
      opacity: 0;
      top: 0;
      margin-top: 13px;
      left: 8px;
      transition: opacity 200ms ease;

      li:first-child a {
        cursor: pointer;
        opacity: 0;
      }

      a {
        cursor: default;
      }

      &--active {
        opacity: 1;

        a {
          cursor: pointer;
        }
      }
    }

    li {

    }

    &-link {
      display: block;
      color: #FFF;
      margin-right: 5px;
      background-color: #625f5c;
      padding: 1em 1.5em;

      @media (min-width: $screen-md-min) {
        padding: 1em 1.2em 1em 0.5em;
        border: none;
        margin-right: 0;
      }

      &--active {
        background-color: #53514e;
      }
    }
  }

  &__language-selector {
    padding: 1.6em 0;
    width: 100%;
    display: inline-block;
    line-height: 1;

    @media (min-width: $screen-md-min) {
      margin-top: 1.1em;
      width: auto;
    }

    @media (min-width: $screen-lg-min) {
      margin-top: 0.25em;
    }

    .main-navigation {
      &__link,
      &__link-wrapper {
        margin: 0;
        padding: 0;
      }

      &__link.navigation-contact__language-link {
        display: none;
      }

      @media (min-width: $screen-md-min) {
        &__link.navigation-contact__language-link {
          padding-left: 0.5em;
          margin-left: 0.5em;
          border-left: 1px solid #CCC;
          display: inline-block;

          &:after {
            content: '';
            display: inline-block;
            transform: rotate(180deg);
            background-image: url(../images/small-arrow.svg);
            background-position: right center;
            background-repeat: no-repeat;
            margin-left: .5em;
            width: 9px;
            height: 6px;
            vertical-align: middle;
          }
        }
      }
    }

    .main-navigation__link span {
      padding: 0;
    }
  }
}
